#content.select
	#breadcrum
		%h1.button
			%form{:method => "post",:action => "/print"}
				%input{:type => "hidden",:name => "selection",:id => "selection"}
			%a#generar{:href=>"#"} Generar

	#selectedBox
		%h4 Productos Seleccionados
		%h5 Drag & Drop para 
		.selectedList
	#searchBox
		.title Escoja los productos que quiere agregar
		%input{:id=>"txtSearch",:name=>"txtSearch"}
		.productList
			- i=0
			- @names.each  do |@name|
				- i+=1
				.producto
					.code
						=@codes[i]
					.name
						=@name
					.description
						=@descriptions[i]
					.price
						=@prices[i]
					.image
						%img{:src=>"#{@images[i]}" , :style=>"display: none;"}
