<li class="producto">
	<div class="imagen">
		<img src="http://btc.cr<%= item.attr('imagen') %>"/>
	</div>
	<h2><%= item.attr('titulo') %></h2>
	<ul>
		<%= item.attr('especs') %>
	</ul>
	<h3><%= item.attr('precio') %></h3>
</li>
