/* line 17, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 5, ../../views/css/_select.sass */
#select h4 {
  margin: 10px;
}
/* line 7, ../../views/css/_select.sass */
#select #btnGoPrint {
  margin: 10px;
  color: #333333;
  font-size: 14px;
  font-decoration: none;
}
/* line 14, ../../views/css/_select.sass */
#select #txt_titulo {
  margin: 10px;
}

/* line 18, ../../views/css/_select.sass */
.titulo h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

/* line 27, ../../views/css/_select.sass */
.itemList {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 450px;
  margin-left: 0;
}
/* line 31, ../../views/css/_select.sass */
.itemList .imagen {
  margin-top: 20px;
  border: 1px solid #333333;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin: 15px;
}
/* line 41, ../../views/css/_select.sass */
.itemList .imagen img {
  max-width: 200px;
  max-height: 200px;
}
/* line 44, ../../views/css/_select.sass */
.itemList .details {
  margin-top: 20px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 215px;
  margin-left: 0;
  margin-right: 0;
}
/* line 50, ../../views/css/_select.sass */
.itemList .details h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 20px;
}
/* line 56, ../../views/css/_select.sass */
.itemList .details h3 {
  font-size: 20px;
  font-weight: bold;
  color: #244b84;
  border-top: 3px dotted #efefef;
  border-bottom: 3px dotted #efefef;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 7px;
  margin-bottom: 7px;
}
/* line 66, ../../views/css/_select.sass */
.itemList .details h4 {
  margin-top: 40px;
  font-size: 17px;
  min-height: 100px;
}
/* line 70, ../../views/css/_select.sass */
.itemList .details ul {
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 40px;
}
/* line 74, ../../views/css/_select.sass */
.itemList .details ul li {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
  text-transform: capitalize;
}

/* line 82, ../../views/css/_select.sass */
.itemsList > li {
  margin-top: 10px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  height: 345px;
  overflow: hidden;
  padding-left: 65px;
}
/* line 90, ../../views/css/_select.sass */
.itemsList > li h2 {
  font-size: 12px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 3px;
  margin-top: 8px;
}
/* line 96, ../../views/css/_select.sass */
.itemsList > li h3 {
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  color: #244b84;
}
/* line 101, ../../views/css/_select.sass */
.itemsList > li .imagen {
  overflow: hidden;
  margin-left: 25 px;
  width: 200px;
  height: 200px;
}
/* line 106, ../../views/css/_select.sass */
.itemsList > li .imagen img {
  width: 200px;
  height: 200px;
}
/* line 109, ../../views/css/_select.sass */
.itemsList > li ul {
  max-height: 140px;
  overflow: hidden;
  margin-bottom: 5px;
}
/* line 114, ../../views/css/_select.sass */
.itemsList > li ul li {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 3px;
  text-transform: capitalize;
}

/* line 123, ../../views/css/_select.sass */
#searchBox {
  height: 600px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 690px;
  border: 1px solid #999999;
  margin-right: 0;
  background-color: #efefef;
}
/* line 130, ../../views/css/_select.sass */
#searchBox .title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 10px;
}
/* line 135, ../../views/css/_select.sass */
#searchBox input {
  margin: 10px;
  padding: 10px;
}
/* line 138, ../../views/css/_select.sass */
#searchBox li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 155px;
  background-color: #efefef;
  height: 80px;
  padding: 10px;
  border: 1px #333333 solid;
  margin-bottom: 10px;
}
/* line 146, ../../views/css/_select.sass */
#searchBox li a {
  color: #333333;
}

/* line 149, ../../views/css/_select.sass */
#selectedBox {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 236px;
  margin-right: 0;
  margin-left: 0;
  background-color: #efefef;
  border: 1px solid #999999;
  height: 600px;
}
/* line 156, ../../views/css/_select.sass */
#selectedBox h4 {
  color: #333333;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 8px;
}
/* line 161, ../../views/css/_select.sass */
#selectedBox h5 {
  color: #999999;
  font-size: 12px;
  margin-left: 8px;
  margin-bottom: 8px;
}
/* line 166, ../../views/css/_select.sass */
#selectedBox li {
  background-color: #efefef;
  padding: 10px;
  border: 1px #333333 solid;
  margin: 6px;
}
/* line 171, ../../views/css/_select.sass */
#selectedBox li a {
  color: #333333;
}

/* line 9, ../../views/css/grid.sass */
body {
  margin: 0px;
  padding: 0px;
}

/* line 13, ../../views/css/grid.sass */
.pdfBtn {
  display: none;
}

/* line 16, ../../views/css/grid.sass */
#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1;
}
/* line 20, ../../views/css/grid.sass */
#container .contentBox {
  height: 850px;
}
/* line 24, ../../views/css/grid.sass */
#container .full .titulo {
  background: url("http://btc.cr/images/full/franjaTitulo.jpg") no-repeat scroll top left;
  height: 5px;
}
/* line 29, ../../views/css/grid.sass */
#container .half {
  overflow: hidden;
  *zoom: 1;
}
/* line 31, ../../views/css/grid.sass */
#container .half .titulo {
  background: url("http://btc.cr/images/half/franjaTitulo.png") no-repeat scroll top left;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 459px;
  margin-left: 0;
  height: 80px;
}
/* line 37, ../../views/css/grid.sass */
#container .half > img {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 459px;
  margin-left: 0;
}
