/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../views/css/_list.sass */
.select .producto {
  height: 35px;
  margin-bottom: 4px;
  background-color: #efefef;
  border: 1px solid #333333;
}
/* line 9, ../../views/css/_list.sass */
.select .name {
  line-height: 13px;
  padding: 5px;
  color: #333333;
  font-size: 11px;
}
/* line 14, ../../views/css/_list.sass */
.select .description, .select .price, .select .image, .select .code {
  display: none;
}
/* line 18, ../../views/css/_list.sass */
.select #searchBox .producto {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 215px;
  margin-right: 0;
}
/* line 24, ../../views/css/_list.sass */
.select #selectedBox .producto {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 184px;
}

/* line 28, ../../views/css/_list.sass */
#print1 {
  overflow: hidden;
  *zoom: 1;
}
/* line 30, ../../views/css/_list.sass */
#print1 .image {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 184px;
  text-align: center;
}
/* line 33, ../../views/css/_list.sass */
#print1 .image img {
  border: 1px #afafaf solid;
  -webkit-border-radius: 13px 13px;
  -moz-border-radius: 13px / 13px;
  -o-border-radius: 13px / 13px;
  -ms-border-radius: 13px / 13px;
  -khtml-border-radius: 13px / 13px;
  border-radius: 13px / 13px;
  width: 140px;
  height: 140px;
}
/* line 38, ../../views/css/_list.sass */
#print1 .info {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  margin-left: 0;
}
/* line 41, ../../views/css/_list.sass */
#print1 .info h1 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  font-family: "Cabin", Verdana;
}
/* line 46, ../../views/css/_list.sass */
#print1 .info p {
  font-size: 11px;
  font-family: "Droid Sans", Verdana;
}
/* line 49, ../../views/css/_list.sass */
#print1 .info .price {
  font-family: "Cabin", Verdana;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #244b84;
  font-size: 16px;
  border-top: 1px dotted #333333;
  border-bottom: 1px dotted #333333;
}

/* line 2, ../../views/css/_select.sass */
#breadcrum .button {
  background-color: #333333;
}
/* line 4, ../../views/css/_select.sass */
#breadcrum .button a {
  padding: 5px;
  color: white;
  display: block;
}

/* line 9, ../../views/css/_select.sass */
#searchBox {
  height: 600px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 710px;
  border: 1px solid #999999;
  margin-right: 0;
  background-color: #efefef;
}
/* line 16, ../../views/css/_select.sass */
#searchBox .title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 10px;
}
/* line 21, ../../views/css/_select.sass */
#searchBox input {
  margin: 10px;
  padding: 10px;
}
/* line 24, ../../views/css/_select.sass */
#searchBox .productList {
  overflow: hidden;
  *zoom: 1;
}

/* line 27, ../../views/css/_select.sass */
#selectedBox {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 232px;
  margin-right: 0;
  margin-left: 0;
  background-color: #efefef;
  border: 1px solid #999999;
  height: 600px;
}
/* line 34, ../../views/css/_select.sass */
#selectedBox h4 {
  color: #333333;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 8px;
}
/* line 41, ../../views/css/_select.sass */
#selectedBox h5 {
  color: #999999;
  font-size: 12px;
  margin-left: 8px;
  margin-bottom: 8px;
}

/* line 12, ../../views/css/grid_half.sass */
#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1;
  width: 500px;
}
/* line 17, ../../views/css/grid_half.sass */
#container #header {
  overflow: hidden;
  *zoom: 1;
}
/* line 19, ../../views/css/grid_half.sass */
#container #header #logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 188px;
}
/* line 21, ../../views/css/grid_half.sass */
#container #header #banner {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 188px;
}
/* line 24, ../../views/css/grid_half.sass */
#container #content {
  overflow: hidden;
  *zoom: 1;
}
/* line 28, ../../views/css/grid_half.sass */
#container #footer .locations {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
/* line 31, ../../views/css/grid_half.sass */
#container #copywrite #social {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 92px;
}
/* line 33, ../../views/css/grid_half.sass */
#container #copywrite #url {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 92px;
}
/* line 35, ../../views/css/grid_half.sass */
#container #copywrite #copy {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 92px;
}

/* line 38, ../../views/css/grid_half.sass */
#breadcrum {
  background-image: url("/images/print_nav.jpg");
  background-repeat: repeat-x;
  height: 53px;
  margin-bottom: 20px;
}
/* line 43, ../../views/css/grid_half.sass */
#breadcrum h1 {
  text-align: center;
}

/* line 46, ../../views/css/grid_half.sass */
#footer {
  background-image: url("/images/print_footer.jpg");
  background-repeat: repeat-x;
  height: 100px;
}
