/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../../views/css/_select.sass */
#select h4 {
  margin: 10px;
}
/* line 9, ../../views/css/_select.sass */
#select .titulo {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
/* line 14, ../../views/css/_select.sass */
#select #btnGoPrint {
  margin: 10px;
  color: #333333;
  font-size: 14px;
  font-decoration: none;
}

/* line 23, ../../views/css/_select.sass */
.itemList {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 450px;
  margin-left: 0;
}
/* line 27, ../../views/css/_select.sass */
.itemList .imagen {
  margin-top: 20px;
  border: 1px solid #333333;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin: 15px;
}
/* line 37, ../../views/css/_select.sass */
.itemList .imagen img {
  max-width: 200px;
  max-height: 200px;
}
/* line 40, ../../views/css/_select.sass */
.itemList .details {
  margin-top: 20px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 215px;
  margin-left: 0;
  margin-right: 0;
}
/* line 46, ../../views/css/_select.sass */
.itemList .details h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 20px;
}
/* line 52, ../../views/css/_select.sass */
.itemList .details h3 {
  font-size: 20px;
  font-weight: bold;
  color: #244b84;
  border-top: 3px dotted #efefef;
  border-bottom: 3px dotted #efefef;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 7px;
  margin-bottom: 7px;
}
/* line 62, ../../views/css/_select.sass */
.itemList .details h4 {
  margin-top: 40px;
  font-size: 17px;
  min-height: 100px;
}
/* line 66, ../../views/css/_select.sass */
.itemList .details ul {
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 40px;
}
/* line 70, ../../views/css/_select.sass */
.itemList .details ul li {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
  text-transform: capitalize;
}

/* line 78, ../../views/css/_select.sass */
.itemsList > li {
  margin-top: 30px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  height: 390px;
  overflow: hidden;
  padding-left: 65px;
}
/* line 86, ../../views/css/_select.sass */
.itemsList > li h2 {
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 3px;
  margin-top: 8px;
}
/* line 92, ../../views/css/_select.sass */
.itemsList > li h3 {
  font-size: 19px;
  font-weight: bold;
  width: 200px;
  color: #244b84;
}
/* line 97, ../../views/css/_select.sass */
.itemsList > li .imagen {
  overflow: hidden;
  margin-left: 25 px;
  width: 200px;
  height: 200px;
}
/* line 102, ../../views/css/_select.sass */
.itemsList > li .imagen img {
  width: 200px;
  height: 200px;
}
/* line 105, ../../views/css/_select.sass */
.itemsList > li ul {
  max-height: 140px;
  overflow: hidden;
  margin-bottom: 5px;
}
/* line 110, ../../views/css/_select.sass */
.itemsList > li ul li {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 3px;
  text-transform: capitalize;
}

/* line 119, ../../views/css/_select.sass */
#searchBox {
  height: 600px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 690px;
  border: 1px solid #999999;
  margin-right: 0;
  background-color: #efefef;
}
/* line 126, ../../views/css/_select.sass */
#searchBox .title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 10px;
}
/* line 131, ../../views/css/_select.sass */
#searchBox input {
  margin: 10px;
  padding: 10px;
}
/* line 134, ../../views/css/_select.sass */
#searchBox li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 155px;
  background-color: #efefef;
  height: 80px;
  padding: 10px;
  border: 1px #333333 solid;
  margin-bottom: 10px;
}
/* line 142, ../../views/css/_select.sass */
#searchBox li a {
  color: #333333;
}

/* line 145, ../../views/css/_select.sass */
#selectedBox {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 236px;
  margin-right: 0;
  margin-left: 0;
  background-color: #efefef;
  border: 1px solid #999999;
  height: 600px;
}
/* line 152, ../../views/css/_select.sass */
#selectedBox h4 {
  color: #333333;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 8px;
}
/* line 157, ../../views/css/_select.sass */
#selectedBox h5 {
  color: #999999;
  font-size: 12px;
  margin-left: 8px;
  margin-bottom: 8px;
}
/* line 162, ../../views/css/_select.sass */
#selectedBox li {
  background-color: #efefef;
  padding: 10px;
  border: 1px #333333 solid;
  margin: 6px;
}
/* line 167, ../../views/css/_select.sass */
#selectedBox li a {
  color: #333333;
}

/* line 9, ../../views/css/grid.sass */
body {
  margin: 0px;
  padding: 0px;
}

/* line 13, ../../views/css/grid.sass */
.pdfBtn {
  display: none;
}

/* line 16, ../../views/css/grid.sass */
#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1;
}
/* line 20, ../../views/css/grid.sass */
#container .contentBox {
  height: 850px;
}
/* line 24, ../../views/css/grid.sass */
#container .full .titulo {
  background: url("http://btc.cr/images/full/franjaTitulo.jpg") no-repeat scroll top left;
  height: 100px;
}
/* line 29, ../../views/css/grid.sass */
#container .half {
  overflow: hidden;
  *zoom: 1;
}
/* line 31, ../../views/css/grid.sass */
#container .half .titulo {
  background: url("http://btc.cr/images/half/franjaTitulo.png") no-repeat scroll top left;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 459px;
  margin-left: 0;
  height: 80px;
}
/* line 37, ../../views/css/grid.sass */
#container .half > img {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 459px;
  margin-left: 0;
}
